.btn {
  margin-left: 5px;
}

.sticky-top {
  position: fixed;
  top: -1px;
  width: 100%;
  background: grey;
}

img {
  border-radius: 0.3rem;
}

@media screen and (min-width: 650px) {
  .navbar {
    width: 100%;
    padding: 0 10%;
  }
}
