.headerContainer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.3rem;
  flex: 1;
  color: white;
  min-height: 9rem;
  transition: all 1s ease-in-out;
}

.BG {
  display: flex;
  justify-content: center;
  background-color: hsl(286, 62%, 32%);

  width: 100%;
  padding: 2% 0;
}

.firstHeader {
  position: absolute;
  text-transform: uppercase;
  top: 5%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.secondHeader {
  width: 101%;
  position: absolute;
  /* border-top: 0.1rem solid #ffffff;
  border-left: 0.1rem solid #f5f7f8; 
  
  added this instead*/
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  padding: 3% 0;
  left: -1%;
  top: 40%;
  transform: rotate(4deg);
  z-index: 100;
  font-size: 1rem;
  text-transform: capitalize;
}

.thirdHeader {
  font-weight: bold;
  width: 100%;
  font-size: 1rem;
  position: absolute;
  top: 80%;
  text-align: right;
  background-color: transparent;
  color: hsla(0, 0%, 0%, 0.8);
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.mealContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: auto;
}

.mealContainer a {
  flex: 1;
}

.meal {
  width: 100%;
  height: 100%;
  border-top: 2px solid rgb(232, 232, 232);
  background-size: cover;
  background-position: center;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 100ms ease-in-out;
}

.meal:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.meal:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.mealButton {
  background-color: hsla(0, 0%, 0%, 0.4);
  border: 2px solid hsl(0, 0%, 100%);
  padding: 1.5rem 3rem;
  margin: 15%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: hsl(0, 0%, 100%);
  transition: all 200ms ease-in-out;
}

.mealButton:hover {
  background-color: hsla(0, 0%, 100%, 0.4);
  color: hsl(0, 0%, 15%);
}

.mealButton:active {
  background-color: hsla(0, 0%, 0%, 0.4);
  color: hsl(0, 0%, 100%);
}

.dinner {
  background-image: url("../media/beer4.jpg");
}

.dessert {
  background-image: url("../media/dessert1.jpg");
}

@media screen and (min-width: 650px) {
  .mealContainer {
    flex-direction: row;
  }

  .mainContainer,
  .navbar {
    width: 80%;
    margin: auto;
  }

  .headerContainer {
    min-height: 16rem;
    width: 100%;
  }

  .firstHeader {
    top: 10%;
    font-size: 2rem;
  }

  .secondHeader {
    width: 100.5%;
    font-size: 1.5rem;
    transform: rotate(2deg);
    border-width: 0.2rem;
    padding: 2% 0;
    top: 50%;
    left: -0.5%;
  }
  .thirdHeader {
    font-size: 1.3rem;
    top: 90%;
  }

  .mealContainer {
    width: 100%;
    justify-content: space-between;
  }

  .dinner {
    margin-right: 0.5rem;
  }
  .dessert {
    margin-left: 0.5rem;
  }
}
